<h1>Users</h1>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">
    <!-- Panel -->
    <div class="ngx-datatable-v1">
      <table class="table table-bordered table-hover g-col-border-side-0 g-color-black">
        <thead>
          <tr>
            <th width="80">No</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Active</th>
            <th>Views</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pagedItems; let i=index">
            <td class="align-middle">{{(pager.currentPage-1)*pager.pageSize+1+i}}</td>
            <td>
              <span>{{user.firstName}} {{user.lastName}}</span>
            </td>
            <td class="center align-middle">
              {{user.emailAddress}}
            </td>
            <td class="align-middle">
              {{user.phone}}
            </td>
            <td class="center align-middle">
              <label class="form-check-inline u-check mx-0 mb-0" title="Change active">
                <input type="checkbox" id="active{{i}}" name="active{{i}}" value="{{user.isActive}}" (change)="changeActive($event, user, i)"
                  class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" [checked]="user.isActive">
                <div class="u-check-icon-radio-v7">
                  <i class="d-inline-block"></i>
                </div>
              </label>
            </td>
            <td class="center align-middle">
              <a (click)="selectedDettail(user, i)" class="js-edit u-link-v5 g-color-facebook g-color-facebook--hover u-icon-v1 u-icon-size--md"
                href="javascript:void(0)">
                <i class="hs-admin-eye"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td  class="align-middle">
              <span class="g-color-gray-dark-v4">{{pager.totalItems}} total</span>
            </td>
            <td  class="align-middle" colspan="5">
              <!-- pager -->
              <nav aria-label="...">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right g-mb-0">
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">

                    <a class="page-link" (click)="setPage(1)">
                      <span class="sr-only">First</span>
                      <span aria-hidden="true">
                        <i class="fa fa-step-backward"></i>
                      </span>
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">
                      <span aria-hidden="true">
                        <i class="fa fa-chevron-left"></i>
                      </span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">
                      <span aria-hidden="true">
                        <i class="fa fa-chevron-right"></i>
                      </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)">
                      <span aria-hidden="true">
                        <i class="fa fa-step-forward"></i>
                      </span>
                      <span class="sr-only">Last</span>

                    </a>
                  </li>
                </ul>
              </nav>
              <!-- End Panel -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div>



  </div>
</div>

<!-- confirm view detail -->
<div class="modal fade" id="confirmDetailApp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User detail</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body g-ml-5 g-mr-5">
        <div class="row border-bottom-dotted  g-pt-5 g-pb-5">
          <div class="col-md-10">
            <div class="row border-bottom-dotted g-pt-5 g-pb-5">
              <div class="col-md-6">
                First name: {{userInfo?.firstName}}
              </div>
              <div class="col-md-6">
                Last name: {{userInfo?.lastName}}
              </div>
            </div>
            <div class="row border-bottom-dotted  g-pt-5 g-pb-5">
              <div class="col-md-6">
                Email: {{userInfo?.emailAddress}}
              </div>
              <div class="col-md-6">
                Phone: {{userInfo?.phone}}
              </div>
            </div>
            <div class="row  g-pt-5 g-pb-5">
              <div class="col-md-12">
                Headline: {{userInfo?.headline}}
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <img _ngcontent-c1="" alt="Image description" class="g-width-100 g-width-100--md g-height-100 g-height-100--md rounded-circle g-mr-10--sm"
              [src]="imageUrl">
          </div>
        </div>

        <div class="row border-bottom-dotted  g-pt-5 g-pb-5">
          <div class="col-md-12">
            Company name: {{userInfo?.company}}
          </div>
        </div>
        <div class="row border-bottom-dotted g-pt-5 g-pb-5">
          <div class="col-md-12">
            Current position: {{userInfo?.currentPosition}}
          </div>
        </div>

        <div class="row border-bottom-dotted  g-pt-5 g-pb-5">
          <div class="col-md-12">
            Interests:
            <span *ngFor="let inter of interests" [ngClass]="(interests)?'': 'hidden'" class="quality badge badge-pill badge-secondary g-mr-5 g-pt-5 g-pb-5">{{inter.name}}</span>
          </div>
        </div>
        <div class="row border-bottom-dotted g-pt-5 g-pb-5">
          <div class="col-md-12">
            Introduction: {{userInfo?.introduction}}
          </div>
        </div>
        <div class="row border-bottom-dotted g-pt-5 g-pb-5">
          <div class="col-md-2">
            Social:
          </div>
          <div class="col-md-10">
            <span *ngFor="let item of socials">
              <a [ngClass]="(item.type === 'Facebook')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-facebook g-color-facebook--hover g-mr-15"
                target="_blank" href="https://www.facebook.com/{{item.name}}" title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a [ngClass]="(item.type === 'Twitter')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-twitter g-color-twitter--hover g-mr-15"
                href="https://twitter.com/{{item.name}}" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a [ngClass]="(item.type === 'Linkedin')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-linkedin g-color-linkedin--hover g-mr-15 "
                href="https://www.linkedin.com/in/{{item.name}}" target="_blank" title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a [ngClass]="(item.type === 'Instagram')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-instagram g-color-instagram--hover g-mr-15 "
                href="https://www.instagram.com/{{item.name}}" target="_blank" title="Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a [ngClass]="(item.type === 'WhatsApp')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-whatsapp g-color-whatsapp--hover g-mr-15"
                href="tel:{{item.name}}" title="Whatsapp">
                <i class="fa fa-whatsapp"></i>
              </a>
              <a [ngClass]="(item.type === 'Wechat')?'': 'hidden'" class="u-icon-v2 g-rounded-3 g-color-vk g-color-vk--hover g-mr-15" href="tel:{{item.name}}"
                title="Wechat">
                <i class="fa fa-wechat"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="row border-bottom-dotted  g-pt-5 g-pb-5">
          <div class="col-md-12">
            Educations
          </div>
          <div class="col-md-12">
            <table [ngClass]="(educations.length>0)?'': 'hidden'" class="table table-bordered table-hover u-table--v2  g-col-border-side-0 g-color-black">
              <thead>
                <tr>
                  <th>School</th>
                  <th>Degree</th>
                  <th>Field study</th>
                  <th>Graduation year</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let edu of educations">
                  <td class="center align-middle">
                    {{edu.school}}
                  </td>
                  <td class="center align-middle">
                    {{edu.degree}}
                  </td>
                  <td class="center align-middle">
                    {{edu.fieldOfStudy}}
                  </td>
                  <td class="center align-middle">
                    {{edu.graduationYear}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row  g-pt-5 g-pb-5">
          <div class="col-md-12">
            Careers
          </div>
          <div class="col-md-12">
            <table [ngClass]="(careers.length>0)?'': 'hidden'" class="table table-bordered table-hover u-table--v2  g-col-border-side-0 g-color-black">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Category</th>
                  <th>Skill</th>
                  <th>Level</th>
                  <th>From date</th>
                  <th>To date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let car of careers">
                  <td class="center align-middle">
                    {{car.company}}
                  </td>
                  <td class="center align-middle">
                    {{car.category?.name}}
                  </td>
                  <td class="center align-middle">
                    <span *ngFor="let sk of car.skills" [ngClass]="(car.skills)?'': 'hidden'" class="quality badge badge-pill badge-secondary g-mr-5 g-pt-5 g-pb-5">{{sk.name}}</span>
                  </td>
                  <td class="center align-middle">
                    {{car.level}}
                  </td>
                  <td class="center align-middle">
                    {{car.fromDate|date:'longDate'}}
                  </td>
                  <td class="center align-middle">
                    {{car.toDate|date:'longDate'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>