<!-- Sidebar Nav -->
<ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
  <!-- Dashboards -->
  <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" routerLink="/admin/dashboard"
          routerLinkActive="active" title="Dashboard">
          <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="icon-home"></i>
          </span>
          <span class="media-body align-self-center">Dashboard</span>
      </a>
  </li>

<!--   
  <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" routerLink="/admin/user" routerLinkActive="active"
          title="Users">
          <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="icon-user"></i>
          </span>
          <span class="media-body align-self-center">User</span>
      </a>
  </li> -->
</ul>
<!-- End Sidebar Nav -->