.with-50{
  width: 50px!important;
}
.height-50{
  height: 50px!important;
}

.list-icon img.icon-category{
  height: 45px!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-top: 10px;
  }
   
  .switch input {display:none;}
   
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  input:checked + .slider {
    background-color: rgb(1, 219, 1);
  }
   
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(1, 219, 1);
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
   
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
   
  .slider.round:before {
    border-radius: 50%;
  }

  .btn-warning{
    border-radius: 50px;
    height: 30px;
    color: white;
    background-color: #e6a821;
    }
.g-bg-blue-dark-v4{
  background-color:    #014bd2;
}


.color-change{ 
  animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

@keyframes color_change{
  0% {
    background-color: red; 
}
100% {
     background-color: green;
}
}
.cart{
  width: 300px
}


.u-btn-orange-red{
  background-color:#ff7600;
  color: #fff;
  font-weight: bold !important;
}

.money {
  font-weight: bold;
  color: red;
  font-size: 17px;
}


.time{
    display: inline !important;
}

.namecate{
  font-weight: bold !important;
}

.g-bg-red-danger {
  border-color: red;
}

.scroll_box {
  height: 120px;
  width: 400px;
  display: auto;
  border: 1px solid #CCCCCC;
  margin: 1em 0;
}

.btn-red{
  background-color: #f55252; 
  border-color: red;
  height: 40px;
  font-weight: bold;
}
.btn-red:hover{
  color: rgb(139, 0, 0);
}

.btn-green{
  float: right; 
  background-color: rgb(57, 182, 111); 
  border-color: rgb(57, 182, 111);
  height: 40px;
  font-weight: bold;
}

.g-width-110--md{
  width: 110px !important;
}

.header{
  height: 60px;
}


.g-bg-gray-v4{
  background-color: #c7c6c6 !important;
}

.hs-admin-panel{
  color: black;
}

.g-mb-10{
  font-weight: bold;
}


.u-btn-primary{
  width: 110px !important;
}

.g-bg-custom-gray{
  background-color: #f3f8f9 !important;
}


.icon-30{
  font-size: 30px;
  padding: 8px;
}
.icon-20{
  font-size: 20px;
}


.custom-div{
  width: 60px;
  height: 60px;
  align-content: center;
  text-align: center;
  border: solid 0.5px;
  border-color: #b5b6b6 !important;
  padding: 10px;
}



div.scroll {
  height: 150px;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  border: solid 0.5px;
  border-color: #e1eaea !important;
  padding: 5px;
}

div.scroll:hover {
  /* overflow-y: scroll; */
  overflow-y: auto;
}


div.scroll2 {
  height: 485px;
  overflow: hidden;
  overflow-x: hidden;
  border: solid 0.5px;
  border-color: #e1eaea !important;
  padding: 20px;
}
div.scroll2:hover {
  /* overflow-y: scroll; */
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-button {
  background: red;
}
::-webkit-scrollbar-track-piece {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background: rgb(136, 135, 135);
  border-radius: 34px;
}



.quality{
  font-size: 14px;
  text-align: center;
  align-content: center;
}

.center{
  text-align: center;
  padding-top: 20px;
}
.center1{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-color: #e1eaea !important;
  padding: 8px;
}

.height-custom{
  height: 60px;
}


.bottom-table{
  border-top: solid 0.5px;
  border-color: #e1eaea !important;
  height: 50px;
  vertical-align: middle;
}

.color-custom{
  background-color: #efebeb83 !important;
}


.chef{
  border-radius: 50%;
  border: solid 0.5px;
  border-color: black !important;
  width: 50px;
}

.g-color-lightblue-custom{
  color: #1c6ce4 !important;
}

.card-list{
  width: 340px;
  border: solid 0.5px;
  border-color: black !important;
}
