<div class="align-items-center" >
  <div class="container g-py-100 g-pos-rel g-z-index-1">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-5">
        <div class="g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Login</h2>
          </header>
          <!-- Form -->
          <form class="g-py-15"  #loginForm="ngForm" (ngSubmit)="login()">
            <div class="mb-4">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" 
              type="text" name="email"  required [(ngModel)]="loginInfo.email" #email="ngModel" placeholder="email">
              <span class="text-danger" [hidden]="email.valid || email.untouched">A valid email is required</span>
            </div>
            <div class="g-mb-35">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" 
              type="password" name="password" required [(ngModel)]="loginInfo.password" #password="ngModel" placeholder="Password">
              <span class="text-danger" [hidden]="password.valid || password.untouched">A password is required</span>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-md btn-block u-btn-primary rounded g-py-13" [disabled]="!loginForm.form.valid">Sign In</button>
            </div>
          </form>
          <!-- End Form -->
          <!-- <footer class="text-center">
            <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">Don't have an account? <a class="g-font-weight-600" href="page-signup2.html">signup</a>
            </p>
          </footer> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Login -->