<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-dark g-min-height-65">
        <nav class="navbar no-gutters g-pa-0">
            <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                <!-- Logo -->
                <div style="width: 80%; height: 45px;">
                    <a href="../index.html" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
                        <!-- <img src="{{logo}}" class="img-responsive" alt=""> -->
                    </a>
                </div>
                <!-- End Logo -->
                <!-- Sidebar Toggler -->
                <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="javascript:void(0);" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini"
                    data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
                    <i class="hs-admin-align-left"></i>
                </a>
                <!-- End Sidebar Toggler -->
            </div>

            <!-- Top Search Bar -->
            <form id="searchMenu" class="u-header--search col-sm g-py-12 g-ml-15--sm g-ml-20--md g-mr-10--sm u-dropdown--css-animation u-dropdown--hidden"
                aria-labelledby="searchInvoker" action="#!" style="animation-duration: 300ms;">
                <div class="input-group g-max-width-450">
                    <!-- <input class="form-control form-control-md g-rounded-4" type="text" placeholder="Enter search keywords">
                  <button type="submit" class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2">
                      <i class="hs-admin-search"></i>
                  </button> -->
                </div>
            </form>
            <!-- End Top Search Bar -->

            <!-- Notifications/Top User -->
            <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
                <!-- Top Search Bar (Mobi) -->
                <a id="searchInvoker" class="hidden" href="javascript:void(0);" aria-controls="searchMenu" aria-haspopup="true" aria-expanded="false"
                    data-is-mobile-only="true" data-dropdown-event="click" data-dropdown-target="#searchMenu" data-dropdown-type="css-animation"
                    data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                    <i class="hs-admin-search g-absolute-centered"></i>
                </a>
                <!-- End Top Search Bar (Mobi) -->

                <!-- Top User -->
                <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                    <div class="g-pos-rel g-px-10--lg">
                        <span class="g-pos-rel g-top-2">
                            <span class="g-hidden-sm-down">
                                Account System
                            </span>
                        </span>
                    </div>
                    <div class="g-pos-rel g-px-10--lg">
                        <a id="logout" (click)="onLogout()" class="d-block" href="javascript:void(0);">
                            <span class="g-pos-rel g-top-2">
                                <span class="g-hidden-sm-down">
                                    Logout
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- End Top User -->
            </div>
            <!-- End Notifications/Top Search Bar/Top User -->
        </nav>
    </div>
</header>
<!-- End Header -->