/* You can add global styles to this file, and also import other style files */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .btn-default{
    color: #000000;
    background-color: #C0C0C0;
  }

  .btn-default:hover{
    color: #000000;
    background-color: #d1d1d1;
  }

  .card-v1{
    border: 1px solid #dee2e6!important;
  }

  .height-100{
    height: 100%!important;
  }
  .size-100{
    width: 100px!important;
    height: 100px!important;
  }
  .size-50{
    height: 50px!important;
    width: 50px!important;
    
  }
  .size-40{
    width: 40px!important;
    height: 40px!important;
  }
  .size-35{
    height: 35px!important;
    width: 35px!important;
  }
  .size-30{
    height: 30px!important;
    width: 30px!important;
  }
  .hidden{
    display: none!important;
  }
  .text-italic{
    font-style: italic;
  }
  [aria-labelledby]
  {
    opacity: 1!important;
  }
  .list-icon img.icon-category{
    height: 45px!important;
  }
  
  .custom-div{
    width: 60px;
    height: 60px;
    align-content: center;
    text-align: center;
    border: solid 0.5px;
    border-color: #b5b6b6 !important;
    padding: 10px;
  }
  
  div.scroll {
    height: 150px;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    border: solid 0.5px;
    border-color: #e1eaea !important;
    padding: 5px;
  }
  
  div.scroll:hover {
    /* overflow-y: scroll; */
    overflow-y: auto;
  }
  
  div.scroll2 {
    height: 485px;
    overflow: hidden;
    overflow-x: hidden;
    border: solid 0.5px;
    border-color: #e1eaea !important;
    padding: 20px;
  }
  div.scroll2:hover {
    /* overflow-y: scroll; */
    overflow-y: auto;
  }

  .bg-page-login {
    background: url(assets/img/bg/pattern/darkness.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
/* 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background: -moz-radial-gradient(bottom center, circle closest-side, #ffffff 0%, rgba(114, 192, 44, 0.5) 100%);
    background: -o-radial-gradient(bottom center, circle closest-side, #ffffff 0%, rgba(114, 192, 44, 0.5) 100%);
    background: -ms-radial-gradient(bottom center, circle closest-side, #ffffff 0%, rgba(114, 192, 44, 0.5) 100%);
    background: -webkit-radial-gradient(bottom center, circle closest-side, #ffffff 0%, rgba(114, 192, 44, 0.5) 100%); */
}
  
  /*internet explorer scrollbalken*/
body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
   display: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 15px !important;
}
}
/**/
::-moz-horizontal-scrollbar { -moz-binding: rgba(0, 0, 0, 0.541);  width: 0.4em; }
::-webkit-scrollbar {
    /* background: transparent; */
    width: 0.4em;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 34px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.692);
}

  ::-webkit-scrollbar-button {
    background: red;
  }
  ::-webkit-scrollbar-track-piece {
    background: rgb(255, 255, 255);
  }
.font-weight{
  font-weight: 600!important;
}
  .text-center{
    text-align: center;
  }
  .pd-6{
    padding: 6px!important;
  }
  .pd-8{
    padding: 8px!important;
  }
  .pd-10{
  padding: 10px!important;
}
.pd-15{
  padding: 15px!important;
}
.pd-20{
  padding: 20px!important;
}
.pd-25{
  padding: 25px!important;
}
.cursor-pointer{
  cursor: pointer!important;
}

.multiselect-v1 .multiselect-dropdown .dropdown-btn{
    border-radius: 0!important;
  }
  
  .multiselect-v1 .multiselect-dropdown .dropdown-btn .dropdown-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 6px solid #adadad!important;
    border-left: 6px solid transparent!important;
    border-right: 6px solid transparent!important;
  }
  .multiselect-v1 .multiselect-dropdown .dropdown-btn .dropdown-down {
    display: inline-block;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 6px solid #adadad!important;
    border-left: 6px solid transparent!important;
    border-right: 6px solid transparent!important ;
  }
  
  input[type='file']{
    display: none; 
   }
   option[value=""][disabled] {
       display: none;
     }
     select:required:invalid {
  color: rgb(190, 190, 190)!important;
  }
  option {
  color: black;
  }
  .inline-item.list-inline-item{
  position: relative;
  top: 0;
  left: 0;
  }
  .delete-image {
   padding: 2px 8px 3px;
  position: absolute;
  top: 8px;
  right: 8px;
  }
  .delete-image:hover{
   background-color: rgb(134, 0, 27)!important;
   cursor: pointer;
  }
  
  .action-upload{
   height: 40px;
   display: inline-flex;
   align-items: center;
   vertical-align: middle;
  }
  
  .select-file{
   color:#fff; 
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
   background:#0094ff;
   text-align:center;
   padding: 6px 10px;
   cursor:pointer;
   border-radius: .25rem;
  }
  
  .action-upload .select-file{
   width: 100%;
   margin-right: 15px;
  }
  
  .img-thumbnail{
    vertical-align: middle;
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
  }
  
  .img-responsive{
    width: 100%;
  }

  input:checked + .slider {
    background-color: rgb(1, 219, 1);
  }
   
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(1, 219, 1);
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  @keyframes color_change{
    0% {
      background-color: red; 
  }
  100% {
       background-color: green;
  }
}

.cart{
    width: 220px
  }

  .btn-red{
    background-color: #f55252; 
    border-color: red;
    height: 40px;
    font-weight: bold;
  }
  .btn-red:hover{
    color: rgb(139, 0, 0);
  }

  /* ---------custom ngx-table-------- */
.ngx-datatable-v1 > .ngx-datatable.material{
  box-shadow: none!important;
  border: 1px solid #dee2e6!important;
}

.ngx-datatable-v1 > .ngx-datatable.material .datatable-header {
  background-color: #f3f8f9!important;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ngx-datatable-v1 > .ngx-datatable.material .datatable-header .datatable-header-cell{
  color: #000000!important;
  font-size: 1.1rem!important;
  font-weight: 600!important;
}
.ngx-datatable-v1 > .ngx-datatable.material .datatable-header .datatable-header-cell{
  padding: 0.4rem 1.2rem!important;
}
.ngx-datatable-v1 >.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell > .datatable-body-cell-label{
  vertical-align: middle!important;
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  display: -webkit-flex; /* Safari */
  display: flex;
  height: 100%;
}
.ngx-datatable-v1 >.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell.cell-block > .datatable-body-cell-label{
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  display: block!important;
  height: 100%;
}
.ngx-datatable.scroll-vertical {
  height: 60vh;
}
.ngx-datatable.scroll-vertical .datatable-body{
  overflow-x: hidden!important;
}
.ngx-datatable-v1 >.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell.cell-class-name > .datatable-body-cell-label{
  display: block!important;
}
.ngx-datatable-v1 > .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  padding: .9rem!important;
}

.multiselect-v1 .multiselect-dropdown .dropdown-btn{
  border-radius: 0!important;
}

.multiselect-v1 .multiselect-dropdown .dropdown-btn .dropdown-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 6px solid #adadad!important;
  border-left: 6px solid transparent!important;
  border-right: 6px solid transparent!important;
}
.multiselect-v1 .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline-block;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid #adadad!important;
  border-left: 6px solid transparent!important;
  border-right: 6px solid transparent!important ;
}
.form-logo{
  width: 120px;
  height: auto;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  color: #000000!important;
  cursor: pointer; 
  pointer-events: all;
}
.has-feedback {
  position: relative;
}
.has-feedback label~.form-control-feedback {
  top: 32px;
}

.g-bg-custom-gray{
  background-color: #f3f8f9 !important;
}
.g-bg-gray-v4 {
  background-color: #c7c6c6!important;
}

.money {
  font-weight: bold;
  color: red;
  font-size: 17px;
}
.g-color-whatsapp {
  color: #00e676;
}