<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class=" container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark toggled u-side-nav--mini-hover-on u-side-nav--mini u-sidebar-navigation-v1--mini">
           <app-sidebar-left></app-sidebar-left>
        </div>
        <!-- Content -->
        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
            <div id="main-body" class="g-pa-20">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- End Content -->
    </div>
</div>
<!-- <app-footer></app-footer> -->